.card-body {
  font-family: "Playfair Display", serif;
  background-color: #fffdfa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.Container {
  display: flex;
  flex-direction: row;
  margin-top: 35px;
  max-width: 700px;
  border-bottom: 1px #d3d3d3 solid;
}
.ImageWrapper {
  border-radius: 5px;
  margin-top: 15px;
  margin-right: -20px;
  min-width: 270px;
  max-width: 280px;
  min-height: 100%;
  overflow: hidden;
}
.CardInfo {
  margin-left: 0px;
}

.location-pin {
  width: 10px;
  height: 10px;
}

a:hover {
  text-decoration: underline;
}
